.mission {
    &__wrap {
        padding-left: 115px;
        padding-right: 115px;
    }

    &__row {
        display: flex;
        padding: 40px 0;

        &:last-child {
            padding: 0;
        }
    }

    &__text {
        width: 48%;
        color: $light-common;
        font-weight: 400;
        margin: 0;

        &:not(:last-child) {
            margin-right: 24px;
        }

        &--bold {
            font-weight: 700;
        }

        &--fz26 {
            font-size: 26px;
            line-height: 38px;
        }

        &--fz18 {
            font-size: 18px;
            line-height: 33px;
        }
    }
}