.social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__link {
        position: relative;
        display: block;
        font-size: 0;

        &--bg {

            width: 64px;
            height: 64px;
            border-radius: 20px;
            background-color: $bg-secondary;
        }
    }

    &__svg {
        &--bg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}