@charset "UTF-8";

/**
 * Основные стили
 **/

html {
  // font-size: 22px;
  color: #000000;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-decoration-skip: objects;
  box-sizing: border-box;
  margin: 0;
  background-color: $bg-contrast;
  font-family: Montserrat;
}

img {
  max-width: 100%;
  height: auto;
}

img[alt] {
  font-size: 10px;
}

a {
  @include link-reset();
}

ul {
  @include list-reset();
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

*:hover {
  transition: all 0.2s ease 0s;
}

*:focus {
  border: 1px solid red;
}